<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
    <meta charset="UTF-8">
    <title id="title">{% block title %}{% endblock %}</title>
    <script>

    </script>
</head>
<body>
<!-- THIS IS FOR THE NAVIGATION BAR -->

<!-- THIS IS THE END OF THE NAVIGATION BAR -->



    <div class="d-flex" id="wrapper">
    {% if username: %}
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hello, {{username}}</div>
      <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="/akun" class="list-group-item list-group-item-action bg-light">Akun</a>
        <div class="dropdown">
          <button class="btn list-group-item list-group-item-action bg-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/soal">Soal Standar</a>
            <a class="dropdown-item" href="/penilaian">Elemen Penilaian</a>
          </div>
        </div>
        <a href="/hasil" class="list-group-item list-group-item-action bg-light">Hasil Nilai</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    {% endif %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          {% if username: %}
            <button class="btn btn-primary" id="menu-toggle" >Menu</button>
          {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="rounded collapse navbar-collapse bg-dark" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if username: %}
              <li class="nav-item active">
                <a style="color:white" class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
        {% with messages = get_flashed_messages() %}
          {% if messages: %}
            {% for x in messages: %}
              <div class="alert alert-warning" role="alert">{{x}}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>