{% extends "base.html" %}
{% block title %}Signup Page{% endblock %}
{% block content %}
<div class="col-lg-4 col-sm-12">
  <h1>Signup</h1>
  <form action="#" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Options</label>
    </div>
    <select name="level" class="custom-select" id="inputGroupSelect01">
      <option value="Rektor">Rektor</option>
      <option value="Tim Akreditasi">Tim Akreditasi</option>
      <option id="kaprodi" value="Kaprodi">Kaprodi</option>
    </select>
<!--    <select id="prodi" name="prodi" class="custom-select">-->
<!--      <option value="Rektor">Rektor</option>-->
<!--      <option value="Tim Akreditasi">Tim Akreditasi</option>-->
<!--      <option value="Kaprodi">Kaprodi</option>-->
<!--    </select>-->
    </div>
    <input type="hidden" name="stage" value="first">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="javascript:history.back()" class="btn btn-secondary btn-md active" role="button">Cancel</a>
  </form>
</div>
{% endblock %}