<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/simple-sidebar.css">
    <meta charset="UTF-8">
    <title id="title">Akreditasi</title>
    <script>

    </script>
</head>
<body>
<!-- THIS IS FOR THE NAVIGATION BAR -->

<!-- THIS IS THE END OF THE NAVIGATION BAR -->



    <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hello, user</div>
      <div class="list-group list-group-flush">
        <a href="home.html" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="akun.html" class="list-group-item list-group-item-action bg-light">Akun</a>
            <a href="soal.html" class="list-group-item list-group-item-action bg-light">Soal Standar</a>
            <a href="akreditasi.html" class="list-group-item list-group-item-action bg-light">Hasil Akreditasi</a>
      </div>
    </div>
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle" >Menu</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="rounded collapse navbar-collapse bg-dark" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a style="color:white" class="nav-link" href="login.html">Logout <span class="sr-only">(current)</span></a>
          </ul>
        </div>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="col-lg-6 col-xs-12 table table-bordered">
                    <table class="table table-stripped">
                        <tr class="thead-light">
                            <th>#</th>
                            <th>Prodi</th>
                            <th>Skor</th>
                            <th>Akreditasi</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>S1 Rekayasa Perangkat Lunak</td>
                            <td>399.88</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>S1 Teknik Komputer</td>
                            <td>398</td>
                            <td>A</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
  $("#level").change(function(){
    if ($("#level").val() == "Kaprodi"){
      $("#prodi").show();
    }else{
      $("#prodi").hide();
    }
  });
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>