<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/simple-sidebar.css">
    <meta charset="UTF-8">
    <title id="title">Soal Standar</title>
    <script>

    </script>
</head>
<body>
<!-- THIS IS FOR THE NAVIGATION BAR -->

<!-- THIS IS THE END OF THE NAVIGATION BAR -->



    <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hello, user</div>
      <div class="list-group list-group-flush">
        <a href="home.html" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="akun.html" class="list-group-item list-group-item-action bg-light">Akun</a>
            <a href="soal.html" class="list-group-item list-group-item-action bg-light">Soal Standar</a>
            <a href="akreditasi.html" class="list-group-item list-group-item-action bg-light">Hasil Akreditasi</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle" >Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="rounded collapse navbar-collapse bg-dark" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a style="color:white" class="nav-link" href="login.html">Logout <span class="sr-only">(current)</span></a>
              </li>
          </ul>
        </div>
      </nav>
        <div class="container-fluid">
            <h5>prodi</h5>
<form action="#" method="POST">
    <div class="container-fluid border">
        <div class="row border">
            <div class="col-lg-4 col-xs-12">Elemen Penilaian</div>
            <div class="col-lg-1 offset-lg-1">4</div>
            <div class="col-lg-1">3</div>
            <div class="col-lg-1">2</div>
            <div class="col-lg-1">1</div>
            <div class="col-lg-1">0</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">Visi, Misi, Tujuan, dan Sasaran, serta Strategi Pencapaian</div>
            <div class="col-lg-1 offset-lg-1"><input type="checkbox" name="id_kriteria" value="4"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="3"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="2"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="1"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="0"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">Tata Pamong, Kepemimpinan, Sistem Pengelolaan, dan Penjaminan Mutu</div>
            <div class="col-lg-1 offset-lg-1"><input type="checkbox" name="id_kriteria" value="4"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="3"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="2"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="1"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="0"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">Mahasiswa dan Lulusan</div>
            <div class="col-lg-1 offset-lg-1"><input type="checkbox" name="id_kriteria" value="4"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="3"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="2"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="1"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="0"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">Sumber Daya Manusia</div>
            <div class="col-lg-1 offset-lg-1"><input type="checkbox" name="id_kriteria" value="4"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="3"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="2"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="1"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="0"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">Kurikulum, Pembelajaran, dan Suasana Akademik</div>
            <div class="col-lg-1 offset-lg-1"><input type="checkbox" name="id_kriteria" value="4"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="3"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="2"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="1"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="0"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">Pembiayaan, Sarana dan Prasarana, serta Sistem Informasi</div>
            <div class="col-lg-1 offset-lg-1"><input type="checkbox" name="id_kriteria" value="4"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="3"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="2"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="1"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="0"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">Penelitian, Pelayanan/Pengabdian Kepada Masyarakat, dan Kerjasama</div>
            <div class="col-lg-1 offset-lg-1"><input type="checkbox" name="id_kriteria" value="4"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="3"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="2"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="1"></div>
            <div class="col-lg-1"><input type="checkbox" name="id_kriteria" value="0"></div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:14px">
        <input class="btn btn-primary" type="submit" value="submit">
        <a href="javascript:history.back()" class="btn btn-secondary btn-md active" role="button">Cancel</a>
    </div>
</form>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
  $("#level").change(function(){
    if ($("#level").val() == "Kaprodi"){
      $("#prodi").show();
    }else{
      $("#prodi").hide();
    }
  });
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>